
body {
    font-family: 'Raleway', sans-serif;
}


.fuente-titulos {
    font-family: 'Playfair Display', serif;
    color: #2d5a27;
}


.nav-pills .nav-link {
    color: #555;
    font-weight: 500;
    transition: all 0.2s ease;
}


.nav-pills .nav-link:hover {
    background-color: #eaf1ea;
    color: #2d5a27;
}


.nav-pills .nav-link.active {
    background-color: #2d5a27 !important;
    color: #ffffff !important;
}


.campana-container {
    cursor: pointer;
}

.campana-notificacion {
    font-size: 1.5rem;
    color: #2d5a27;
    transition: transform 0.2s;
    display: inline-block;
}

.campana-container:hover .campana-notificacion {
    transform: scale(1.1);
}

aside .nav-link {
    transition: all 0.2s ease-in-out;
}

aside .nav-link:hover {
    background-color: #d1e7dd !important; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15) !important; 
    color: #0f5132 !important; 
    transform: translateY(-2px); 
}